body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #1ed760, #191414);
    background-size: cover;
    background-attachment: fixed;
  }
  .short-select {
    width: 200px; 
    margin-right: 1px;
  }
  .chart-containerA, .chart-containerB, .chart-containerC, .chart-containerD {
    width: 49%; 
    display: inline-block;
    vertical-align: top; 
    margin-left: 10px;
    margin-top: 40px;
    text-align: center;
  }
  .custom-button {
    background-color: #007da0; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .custom-button:hover {
    background-color: #45a049; 
  }

  :focus {
    outline: 3px solid #1ed760; 
    outline-offset: 2px;
  }
  
  .nav-link {
    background-color: #1ed760; 
    color: #fff;
  }
  
  a:hover {
    text-decoration: underline;
  }