<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Panel de Datos</title>
  <!-- Agrega enlaces a las bibliotecas de Highcharts -->
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script src="https://code.highcharts.com/modules/export-data.js"></script>
  <script src="https://code.highcharts.com/modules/accessibility.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{{ url_for('serve_static', filename='highchart1.js') }}"></script>
  <script src="{{ url_for('serve_static', filename='highchart2.js') }}"></script>
  <script src="{{ url_for('serve_static', filename='highchart3.js') }}"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  
  <!-- Estilo para cambiar la fuente de texto -->
  <style>
    body {
      font-family: Arial, sans-serif;
      background: linear-gradient(135deg, #1ed760, #191414);
      background-size: cover;
      background-attachment: fixed;
    }
    .short-select {
      width: 200px; /* Establece el ancho deseado para el selector */
      margin-right: 1px;
    }
    .chart-containerA, .chart-containerB, .chart-containerC {
      margin: 0 auto; /* Centra horizontalmente */
      text-align: center;
    }
    
  </style>
</head>
<body>
  <!-- Barra de Navegación -->
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #1ed760;">
    <a class="nav-link" href="https://open.spotify.com/intl-es">
      <img src="{{ url_for('static', filename='img/spotify.png') }}" alt="spotifyLogo" style="height: 40; width: 40px;">
    </a>
    <a class="navbar-brand" href="#">Spotify Data Dashboard</a>
    <select id="chart-select" class="form-control short-select">
      <option value="todos">Todos</option>
      <option value="grafica1">Gráfico 1</option>
      <option value="grafica2">Gráfico 2</option>
      <option value="grafica3">Gráfico 3</option>
    </select>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/alerodriargui/dashboard">
          <img src="{{ url_for('static', filename='img/github.png') }}" alt="GitHubLogo" style="height: 35; width: 35px;">
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.linkedin.com/in/alejandro-rodr%C3%ADguez-arguimbau-3023a91b5/">
          <img src="{{ url_for('static', filename='img/linkedin.png') }}" alt="LinkedInLogo" style="height: 35; width: 35px;">
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.uib.es/">
          <img src="{{ url_for('static', filename='img/uib.png') }}" alt="UIBlogo" style="height: 35; width: 35px;">
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.kaggle.com/datasets/asaniczka/top-spotify-songs-in-73-countries-daily-updated/download?datasetVersionNumber=13">
          <img src="{{ url_for('static', filename='img/database.png') }}" alt="DatabaseLogo" style="height: 35; width: 35px;">
        </a>
      </li>
    </ul>
  </nav>
  <!-- Visualización de estudiantes por nacionalidad -->
  <div class="chart-containerA" style="margin-top: 40px; width: 100%;">
    <div id="chart-container1" style="height: 1000px; width: 1200px; display: inline-block;"></div>
  </div>
  <div class="chart-containerB" style="margin-top: 40px; width: 100%;">
    <div id="chart-container2" style="height: 1000px; width: 1200px; display: inline-block;"></div>
  </div>
  <div class="chart-containerC" style="margin-top: 40px; width: 100%;">
    <div id="chart-container3" style="height: 1000px; width: 1200px; display: inline-block;"></div>
  </div>
  
  <script>
$(document).ready(function() {
  // Cuando se cambia la opción del selector
  $("#chart-select").change(function() {
    var selectedChart = $(this).val();
    // Oculta todos los contenedores de gráficos
    $(".chart-containerA, .chart-containerB, .chart-containerC").hide();
    switch (selectedChart) {
      case "todos":
        $(".chart-containerA, .chart-containerB, .chart-containerC").show();
        break;
      case "grafica1":
        $(".chart-containerA").show();
        break;
      case "grafica2":
        $(".chart-containerB").show();
        break;
      case "grafica3":
        $(".chart-containerC").show();
        break;
      default:
        break;
    }
  });
});
  </script>
  
</body>
</html>
