<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Panel de Datos</title>
  <!-- Agrega enlaces a las bibliotecas de Highcharts -->
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script src="https://code.highcharts.com/modules/export-data.js"></script>
  <script src="https://code.highcharts.com/modules/accessibility.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{{ url_for('serve_static', filename='highchart1.js') }}"></script>
  <script src="{{ url_for('serve_static', filename='highchart2.js') }}"></script>
  <script src="{{ url_for('serve_static', filename='highchart3.js') }}"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  
  <!-- Estilo para cambiar la fuente de texto -->
  <style>
    body {
      font-family: Arial, sans-serif; /* Cambia "Arial" por la fuente que desees */
    }
    .short-select {
      width: 200px; /* Establece el ancho deseado para el selector */
      margin-right: 1px;
    }
  </style>
</head>
<body>
  <!-- Barra de Navegación -->
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #1ed760;">
    <a class="nav-link" href="https://open.spotify.com/intl-es">
      <img src="{{ url_for('static', filename='spotify.png') }}" alt="spotifyLogo" style="height: 40; width: 40px;">
    </a>
    <a class="navbar-brand" href="#">Spotify Data Dashboard</a>
    <select id="chart-select" class="form-control short-select">
      <option value="todos">Todos</option>
      <option value="chart-container">Gráfico 1</option>
      <option value="chart-container2">Gráfico 2</option>
      <option value="chart-container3">Gráfico 3</option>
    </select>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="https://www.uib.es/">
          <img src="{{ url_for('static', filename='uib.png') }}" alt="UIBlogo" style="height: 35; width: 35px;">
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.kaggle.com/datasets/asaniczka/top-spotify-songs-in-73-countries-daily-updated/download?datasetVersionNumber=13">
          <img src="{{ url_for('static', filename='database.png') }}" alt="UIBlogo" style="height: 35; width: 35px;">
        </a>
      </li>
    </ul>
  </nav>
  <!-- Visualización de estudiantes por nacionalidad -->
  <div id="chart-container" style="margin-top: 40px; height: 400px; width: 800px;"></div>
  <div id="chart-container2" style="height: 400px; width: 800px;"></div>
  <div id="chart-container3" style="height: 400px; width: 800px;"></div>
</body>
</html>
